* {
    margin: 0;
    padding: 0;
    background-color:rgb(250, 235, 215, 0.5);;
    font-family: "rubik";
}

body{
    background-image: url(/img/fondo.png);
    background-size: cover;
    background-position: center;
    
}
p {
    color: black;
    font-size: 16px;
}

.redsocial{
    color: black;
    font-size: 50px;
    text-decoration: none;
}

#imagenIndex{
    width: 30%;
    height: 10%;
}

#logoIndex{
       height: 30%;
}

header{
    background-color: linen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    background-color: linen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
}
